// Fonts

// Font family
.#{$prefix}font-family-sans-serif{
  font-family: $font-family-sans-serif !important;
}

.#{$prefix}font-family-monospace{
  font-family: $font-family-monospace !important;
}

// Font size
.#{$prefix}font-size-lg{
  font-size: $font-size-lg !important;
}

.#{$prefix}font-size-base{
  font-size: $font-size-base !important;
}

.#{$prefix}font-size-sm{
  font-size: $font-size-sm !important;
}


// Font weight
.#{$prefix}font-weight-light{
  font-weight: $font-weight-light !important;
}

.#{$prefix}font-weight-normal{
  font-weight: $font-weight-normal !important;
}

.#{$prefix}font-weight-bold{
  font-weight: $font-weight-bold !important;
}

// Italic
.#{$prefix}font-style-italic{
  font-style: italic !important;
}