// Variables

// Class prefix
$prefix: '';

// Colors

// Neutral colors
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// Basic colors
$white: #ffffff !default;
$light: $gray-100 !default;
$gray: $gray-600 !default;
$dark: $gray-800 !default;
$black: #000000 !default;

// Named colors
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Functional colors
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

// Neutral colors array
$neutral-colors: (
        "gray-100": $gray-100,
        "gray-200": $gray-200,
        "gray-300": $gray-300,
        "gray-400": $gray-400,
        "gray-500": $gray-500,
        "gray-600": $gray-600,
        "gray-700": $gray-700,
        "gray-800": $gray-800,
        "gray-900": $gray-900,
) !default;

// Basic colors array
$basic-colors: (
        "white": $white,
        "light": $light,
        "gray": $gray,
        "dark": $dark,
        "black": $black
) !default;

// Named colors array
$named-colors: (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan
) !default;

// Functional colors
$functional-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
) !default;

// Body
$body-bg: $white !default;
$body-color: $gray-900 !default;

// Paragraphs
$paragraph-margin-bottom: 1rem !default;

// Links
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Spacing
$spacer: 1rem !default;

$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
) !default;

// Sizing
$sizes: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
) !default;

// Border
$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius: .25rem !default;

$border-radiuses: (
        '0': 0,
        'sm': .125rem,
        'md': .25rem,
        'lg': .5rem,
        'circle': 50%
) !default;

// Box shadows
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow: 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * .875) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

// Typography
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;

$lead-font-size: ($font-size-base * 1.25) !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: $gray-600 !default;

// Hr
$hr-border-color: rgba($black, .1) !default;
$hr-border-width: $border-width !default;
$hr-margin-y: $spacer !default;

// Lists
$dt-font-weight: $font-weight-bold !default;
$list-inline-padding: .5rem !default;

// Images
$thumbnail-padding: .25rem !default;
$thumbnail-bg: $white !default;
$thumbnail-border-width: $border-width !default;
$thumbnail-border-color: $gray-300 !default;
$thumbnail-border-radius: $border-radius !default;
$thumbnail-box-shadow: 0 1px 2px rgba($black, .075) !default;

// Close
$close-font-size: $font-size-base * 1.5 !default;
$close-font-weight: $font-weight-bold !default;
$close-color: $black !default;
$close-text-shadow: 0 1px 0 $white !default;

// Avatar
$avatar-size: 2rem;
$avatar-font-size-ratio: .4;
$avatar-color: $light;
$avatar-background: $gray;
$avatar-icon-font-size-ratio: .6;
$avatar-rounded-radius: .25rem;

$avatars: (
        'sm': 1.5rem,
        'md': 2rem,
        'lg': 2.5rem
) !default;

// Reboot
$table-cell-padding: .75rem !default;
$table-caption-color: $text-muted !default;
$label-margin-bottom: .5rem !default;